
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
body{
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1572D3; 
    --secondary-color: #000000;
    --text-color: #5F5F5F;
    --backgrnd-color: #FFFFFF;
    --heading-color: #ECF5FF;
    --herotext-color: #242424;
    --icon-color: #6D6D6D;
    --listitems-color: #484848;
    --heropara-color: #272727;
    --downlabel-color: #3E3E3E;
    --iconslabel-color: #747474;
}
.navbar-wrap{
    position: absolute;
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3rem;
}

ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

li a{
    text-decoration: none;
    color: var(--listitems-color);
    font-size: 1.1rem;
    font-family: "Roboto", serif;
}

.logo h2{
    color: var(--primary-color);
    font-size: 1rem;
    font-family: "Roboto", serif;
    text-transform: uppercase;
}
#sign_in{
    outline: none;
    border: none;
    background-color: var(--backgrnd-color);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#sign_up{
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 1rem;
    width: 7rem;
    border-radius: 0.5rem;
    color: var(--backgrnd-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
#sign_up:hover{
     background-color: var(--secondary-color);
     color: var(--backgrnd-color);
}
.hero-section-wrap{
    padding: 2rem;
}
.hero-wrap{
    display: flex;
    justify-content: space-between;
}
#right-hero-image{
   width: 65rem;
   background-color: transparent;
}
.left-hero-section{
    margin-left: 10rem;
}
.hero-title{
 color: var(--herotext-color);
 font-size: 3rem;
 font-weight: 800;
 letter-spacing: 0.2rem;
}
.hero-para{
    font-size: 1.2rem;
    color: var(--heropara-color);
    letter-spacing: 0.1rem;
}
.icons-android-ios{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#hero-text-colored{
    color: var(--primary-color);
}

.right-hero-section img{
    height: auto;
    width: 50rem;
}

.down-label{
    display: flex;
    padding: 1.3rem;
    justify-content: space-around;
    background-color: var(--backgrnd-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 4rem;
}
.down-label h3{
color: var(--downlabel-color);
font-weight: 500;
}

.search-btn{
    border: none;
    background-color: var(--primary-color);
    width: 15rem;
    color: var(--backgrnd-color);
    border-radius: 0.5rem;
}
.search-btn:hover{
    background-color: var(--secondary-color);
    color: var(--backgrnd-color);
}
.section-1{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
#icons-label{
    font-size: 2.8rem;
    color: var(--iconslabel-color);
}

.section-2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.section-3{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
#content-text-labels{
   color: var(--icon-color);
   font-size: 0.9rem;
   font-weight: lighter;
}
