
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
body{
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --primary-color: #1572D3; 
    --secondary-color: #000000;
    --text-color: #5F5F5F;
    --backgrnd-color: #FFFFFF;
    --heading-color: #ECF5FF;
    --herotext-color: #242424;
    --icon-color: #6D6D6D;
    --listitems-color: #484848;
    --heropara-color: #272727;
    --downlabel-color: #3E3E3E;
    --iconslabel-color: #747474;
    --star-color: #EFBF14;
    --review-color: #E0E0E0;
    --testimonial-color: #1572D3;
}
/* .navbar-wrap{
    position: absolute;
    position: sticky;
    top: 0;
} */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3rem;
}
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

li a{
    text-decoration: none;
    color: var(--iconslabel-color);
    font-weight: 600;
    font-size: 1.3rem;
    font-family: "Roboto", serif;
}

.logo h2{
    color: var(--primary-color);
    font-size: 1rem;
    font-family: "Roboto", serif;
    text-transform: uppercase;
}
#sign_in{
    outline: none;
    border: none;
    background-color: var(--backgrnd-color);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#sign_up{
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 1rem;
    width: 9rem;
    height: auto;
    border-radius: 0.5rem;
    color: var(--backgrnd-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
#sign_up:hover{
     background-color: var(--secondary-color);
     color: var(--backgrnd-color);
}
.hero-section-wrap{
    padding: 2rem;
    padding-top: 3rem;
}
.hero-wrap{
    display: flex;
    justify-content: space-between;
}

#right-hero-image{
   width: 65rem;
   position: relative;
   overflow: hidden;
   background-color: transparent;
}
.left-hero-section{
    margin-left: 8.4rem;
}
.hero-title{
 color: var(--herotext-color);
 font-size: 3rem;
 font-weight: 800;
 letter-spacing: 0.2rem;
}
.hero-para{
    font-size: 1.2rem;
    color: var(--heropara-color);
    letter-spacing: 0.1rem;
}
.icons-android-ios{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#hero-text-colored{
    color: var(--primary-color);
    text-decoration: solid 0.5rem underline;
}

.right-hero-section img{
    height: auto;
    width: 50rem;
}

.down-label{
    display: flex;
    padding: 1.3rem;
    justify-content: space-around;
    background-color: var(--backgrnd-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 4rem;
}
.down-label h3{
color: var(--downlabel-color);
font-weight: 500;
}

.search-btn{
    border: none;
    background-color: var(--primary-color);
    width: 15rem;
    color: var(--backgrnd-color);
    border-radius: 0.5rem;
}
.search-btn:hover{
    background-color: var(--secondary-color);
    color: var(--backgrnd-color);
}
.section-1{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
#icons-label{
    font-size: 2.8rem;
    color: var(--iconslabel-color);
}
.section-2{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.section-3{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
#content-text-labels{
   color: var(--icon-color);
   font-size: 0.9rem;
   font-weight: lighter;
}
.how-it-works-wrapit{
    margin-top: 6rem;
    padding: 2rem;
}
.text-content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text{
    width: 8rem;
    height: auto;
    font-size: 1rem;
    background-color: var(--heading-color);
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 0.7rem;
    font-weight: 500;
}
.sub-header{
font-size: 2.4rem;
color: var(--downlabel-color);
}
.how-it-works-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 2rem;
}
#how-it-works-icon{
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 2.8rem;
    padding: 2rem;
    border-radius: 0.9rem;
    color: var(--primary-color);
    background-color: var(--heading-color);
}
.how-it-works-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--heropara-color);
}
.choose-car{
    font-size: 1rem;
    font-weight: 500;
    color: var(--listitems-color);
}

.icons-scroll{
    display: flex;
    justify-content: space-between;
}
.choose-us-section{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 1.5rem;
}

.left-chooseus-section{
    background-image: url(images/Vector22.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 1rem;
}
.left-chooseus-section img{
    height: auto;
    width: 50rem;
    margin-top: 10rem;
}
.right-chooseus-section{
 margin-right: 18rem;
}

.choose-us-header{
    background-color: var(--heading-color);
    width: 12rem;
    padding: 2rem;
    height: 1rem;
    border-radius: 0.7rem;
    color: var(--primary-color);
    text-align: left;
}
.choose-us-text{
    color: var(--listitems-color);
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: left;
}
.what-we-offer{
    display: flex;
    gap: 1rem;
}

.quality-prices{
    font-weight: 500;
    color: var(--secondary-color);
}
.good-services{
    color: var(--text-color);
}
#price{
    background-color: var(--heading-color);
    font-size: 2.4rem;
    color: var(--primary-color);
    border-radius: 0.8rem;
    width: 2rem;
    height: auto;
    text-align: center;
    padding: 1.9rem;
}
.cars-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-cars{
    background-color: var(--heading-color);
    text-align: center;
    padding: 1.6rem;
    width: 20rem;
    height: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 0.4rem;
    text-transform: uppercase;
}
.head-cars-text{
    font-size: 3rem;
    font-weight: 400;
    color: var(--secondary-color);
}
.cars-wrap{
    padding: 1rem;
    padding-top: 7rem;
}
.cars-sect-wrap{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#images-car-cards{
   width: 15rem;
   height: auto;
}
.car-cards{
    background-color: var(--backgrnd-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.6rem;
    width: auto;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}
.car-cards-wrap{
    display: grid;
    margin-top: 1rem;
   grid-template-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   column-gap: 0.1rem;
   row-gap: 0.8rem;
}
#car-icons-header {
    color: var(--star-color);
}

#rating {
    margin-right: 0.1rem; 
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1rem;
}

#reviews {
    margin-right: 0.1rem; 
    color: var(--icon-color);
    font-size: 0.9rem;
    font-weight: 500;
}
.header-car{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}
.car-cards-wrap i {
    margin-right: 0.3rem;
    color: var(--icon-color);
    font-size: 1rem;

}
.car-card-4{
    margin-left: 0.5rem;
}
#separator{
    border: none; 
    border-top: 1px solid var(--icon-color);
    margin: 1.5rem 0;
    width: 100%
}
.price-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#button-rent{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: auto;
    background-color: var(--primary-color);
    color: var(--backgrnd-color);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;

}
#button-rent:hover{
    background-color: var(--secondary-color);
    color: var(--backgrnd-color);
    font-weight: bold;
    cursor: pointer;
}
#button-rent i{
    margin-left: 0.5rem;
    font-size: 1rem;
}
.price-1{
color: var(--icon-color);
font-weight: 500;
font-size: 1rem;
}
.price-2{
    color: var(--secondary-color);
    font-size: bold;
}
#search-all{
    border: 0.1rem solid var(--icon-color);
    outline: none;
    height: auto;
    background-color: var(--backgrnd-color);
    color: var(--icon-color);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
} 
#search-all i{
    margin-left: 0.7rem;
    font-size: 1.1rem;
}
#search-all:hover{
    background-color: var(--primary-color);
    color: var(--backgrnd-color);
    font-weight: bold;
}
.search-all-button{
display: flex;
justify-content: center;
margin-top: 3rem;

}
.testimoials-display{
    display: flex;
}
.testimonials{
    background-color: var(--heading-color);
    padding: 4rem;
    margin-top: 5rem;
}
.all-testimonials-wrap{
 display: flex;
}
.testimonial-wrap{
    display: flex;
    padding: 1rem;
}
#testimonial-image{
 width: 25rem;
 height: 29rem;
 object-fit: cover;
}
.testimonials-head-text {
text-align: center;
margin: 0 auto;
text-transform: uppercase;
font-size: 1rem;
font-weight: 600;
padding: 0.9rem;
width: 12rem;
background-color: var(--heading-color);
color: var(--primary-color);
border-radius: 0.6rem;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.testimonials-sub-text{
   text-align: center;
   font-size: 3rem;
   font-weight: 300;
}
.right-testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgrnd-color);
    padding: 2.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial_star_rating i{
   color: var(--star-color);
   font-size: 1rem;
}
.rating-5-star{
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: bold;
}
#stars{
    font-size: 1.3rem;
    font-weight: 400;
}
.testimonial-content{
    font-size: 1.1rem;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--text-color);
}
.testimonial-name{
    font-size: 1.5rem;
    font-weight: 400;
}
.testimonial-location{
    font-size: 0.8rem;
    margin-top: 7rem;
    color: var(--text-color);
}
.get-in-touch{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 10rem;
}
.get-in-touch-at{
    color: var(--primary-color);
    background-color: var(--heading-color);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.3rem;
    padding: 0.7rem;
    cursor: pointer;
}
.get-in-touch-icons-wrap{
    display: flex;
    gap: 1rem
}
.get-in-touch-header{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.free-color{
    color: var(--primary-color);
    font-size: 2.6rem;
}
.get-in-touch-sub.text{
    font-size: 0.1rem;
    color: var(--text-color);
    font-weight: 100;

}
